@import "../../../styles/variables.scss";

.input {
  width: 30%;
  height: 100%;
  margin-right: 20px;
  padding: 10px 12px;
  border-radius: 6px;
  border: none;
  background: var(#{--input-color-default});
  outline: none;
  color: var(#{--text-color-default});
  font-size: 13px;
  font-weight: 500;
  text-overflow: ellipsis;
  transition: box-shadow, width 0.3s ease;

  &::placeholder {
    color: var(#{--placeholder-color-default});
    opacity: 1;
    font-weight: 300;
    transition: opacity 0.3s ease;
  }
  &:focus {
    width: 40%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    &::placeholder {
      opacity: 0;
    }
  }

  &::-webkit-calendar-picker-indicator {
    visibility: hidden;
  }
}
