@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Tomorrow&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  background: var(#{--body-background-default});
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding-top: 20px;
}

.content_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: inherit;
}
