$tab-color-light: #9db7ff;
$border-color: #dedddd;

$body-background-dark: #202225;
$body-background-light: #fff;

$text-color-dark: #fff;
$text-color-light: #173076;

$input-color-dark: #293343;
$input-color-light: #eff3ff;

:root {
  --body-background-dark: #{$body-background-dark};
  --body-background-light: #{$body-background-light};
  --body-background-default: var(#{--body-background-light});

  --text-color-dark: #{$text-color-dark};
  --text-color-light: #{$text-color-light};
  --text-color-default: var(#{--text-color-light});

  --input-color-dark: #{$input-color-dark};
  --input-color-light: #{$input-color-light};
  --input-color-default: var(#{--input-color-light});
}
