$body-background-dark: #202225;
$body-background-light: #fff;

$components-background-dark: #000;
$components-background-light: #fff;

$card-background-dark: #000;
$card-background-light: #fff;

$card-box-shadow-dark: 0px 3px 20px rgba(5, 5, 5, 0.28);
$card-box-shadow-light: 0px 3px 20px rgba(147, 144, 144, 0.28);

:root {
  --body-background-dark: #{$body-background-dark};
  --body-background-light: #{$body-background-light};
  --body-background-default: var(#{--body-background-dark});

  --components-background-dark: #{$components-background-dark};
  --components-background-light: #{$components-background-light};
  --components-background-default: var(#{--components-background-dark});

  --card-background-dark: #{$card-background-dark};
  --card-background-light: #{$card-background-light};
  --card-background-default: var(#{--card-background-dark});

  --card-shadow-dark: #{$card-box-shadow-dark};
  --card-shadow-light: #{$card-box-shadow-light};
  --card-shadow-default: var(#{--card-shadow-dark});

  --text-color-dark: #{$dark-color};
  --text-color-light: #{$light-color};
  --text-color-default: var(#{--text-color-dark});
}
