@import "../../../styles/variables.scss";

.crypto_container {
  width: 500px;

  .input_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .coin_container {
    height: 270px;
    padding-right: 10px;
    overflow-y: scroll;
    scrollbar-color: $border-color inherit;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      background: inherit;
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: $border-color;
    }
  }
}
